div{ font-size: 50px;

}

.cat{ font-size: 20px;

}

#cat{ font-size: 30px;

}

.text{; height: 100%; width: 100%; border-radius: 100px; text-align: center;

overflow: hidden;
}

.image{ width: 100%

}

body{
cursor: url('catt.png'),pointer;
}

/* Update 7:58PM by Hsia */
body{ background-image: url("cat1.gif); background-size:100%;
  }

.follow{ position: relative; 
}

#first{ position: absolute;
}
/* end update by Hsia */
